<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<listeners>
		<listener class-name="com.epam.tests.TestNgListners"></listener>
	</listeners> 
	<test name="Test">
		<parameter name="username" value="shubhamsharma99" />
		<parameter name="password" value="my_father123$" />
		<classes>
			<class name="com.epam.tests.GitHubAutomationTest" />
			<methods>
				<include name="loginTest" />
				<include name="editProfileTest" /> 
				<include name="logoutTest" />
			</methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
