<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="true">
	<test name="Test">
		<parameter name="username" value="shubhamsharma99@gmail.com" />
		<parameter name="password" value="swatijain" />
		<classes>
			<class name="com.epam.pages.test.GmailTest" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
