<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test">
		<parameter name="username" value="shubhamsharma99@gmail.com" />
		<parameter name="password" value="swatijain" />
		<classes>
			<class name="com.epam.publicmailtests.GmailTest" />
			<methods>
				<include name="launchAppTest" />
				<include name="loginTest" />
				<include name="composeDraftTest" />
				<include name="draftContentTest" />
				<include name="sendMailTest" />
				<include name="logOutTest" />
			</methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
